@import "tailwindcss";

.box{
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}
.Editor{
    height: 300px;
    min-height: 20px;
    max-height: 100vh;
    display: flex;
    resize: vertical;
    overflow: hidden;
    width: 100%;
}

.Name{
    width: 100%;
}

.Editorbox{
    width: 100%;
}

.result{
    height: 100%;
    width: 100%;
}

.edithead{
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
}

button{
    margin: 0 0 0 15px;
    background-color: rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(44, 44, 44);
}