@import "tailwindcss";

.box {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.Editor {
    height: 300px;
    min-height: 25px;
    max-height: 100vh;
    display: flex;
    resize: vertical;
    overflow: hidden;
    width: 100%;
}

.Name {
    width: 100%;
}

.Editorbox {
    width: 100%;
}

.result {
    height: 100%;
    width: 100%;
}

.edithead {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
}

button {
    margin: 0 0 0 15px;
    background-color: rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(44, 44, 44);
}

.theme-button {
    width: 100px;
    margin-left: auto;
}

.html {
    background: linear-gradient(45deg, #E34C26, #F06529);
    color: white;
    padding: 1px 6px 0px 6px;
    border-radius: 4px;
}

.css {
    background: linear-gradient(45deg, #264DE4, #2965F1);
    color: white;
    padding: 1px 6px 0px 6px;
    border-radius: 4px;
}

.js {
    background: linear-gradient(45deg, #F7DF1E, #FFD600);
    color: black;
    padding: 1px 6px 0px 6px;
    border-radius: 4px;
}